In [30]:
import urllib.request
from bs4 import BeautifulSoup
import urllib.request 
import pandas as pd
import datetime  
import numpy as np

In [48]:
req = urllib.request.Request('https://coinmarketcap.com/currencies/ethereum/historical-data/?start=20130428&end=20171029') 
data = urllib.request.urlopen(req).read() 
bs = BeautifulSoup(data, 'html.parser') ##받아온 url parsing 작업
td_Tag = bs.find_all('td') ## 그 중에 td태그만 가져옴

In [25]:
a = td_Tag[1].text
a

'5787.82'

In [49]:
len(td_Tag)/7

814.0

In [10]:
today = datetime.date.today()

In [11]:
today

datetime.date(2017, 10, 30)

In [13]:
days = (today - datetime.timedelta(2)).strftime("%Y/%m/%d")

In [14]:
days

'2017/10/28'

In [52]:
days = []
for i in range(2,816):
    days.append((today - datetime.timedelta(i)).strftime("%Y/%m/%d"))

In [53]:
days[813]

'2015/08/07'

In [50]:
data = []
for i in td_Tag:
    data.append(i.text)
    
data2 = np.array(data).reshape(814,7)

In [54]:
data2[:,0] = days

In [56]:
pd.DataFrame(data2).to_csv("/Users/hsw/Desktop/개인 파일/스터디/Coin Project/data/ethereum.csv", index = False, header = False, encoding='utf-8')

In [55]:
pd.DataFrame(data2)

,0,1,2,3,4,5,6
0,2017/10/28,297.92,300.36,293.58,296.30,"264,424,000","28,410,400,000"
1,2017/10/27,296.51,299.26,294.06,297.42,"257,169,000","28,270,100,000"
2,2017/10/26,298.02,301.07,295.22,296.53,"270,273,000","28,408,400,000"
3,2017/10/25,298.44,301.85,290.72,297.93,"325,040,000","28,442,000,000"
4,2017/10/24,287.12,311.96,282.66,298.33,"684,281,000","27,357,500,000"
5,2017/10/23,295.10,295.75,277.57,286.95,"482,336,000","28,111,400,000"
6,2017/10/22,300.55,305.50,292.81,295.45,"327,387,000","28,624,800,000"
7,2017/10/21,303.57,303.93,291.77,300.19,"408,014,000","28,906,600,000"
8,2017/10/20,308.05,311.44,303.49,304.01,"396,673,000","29,326,300,000"
9,2017/10/19,314.54,316.71,305.83,308.09,"349,830,000","29,937,900,000"
10,2017/10/18,316.94,317.24,290.64,314.32,"606,114,000","30,160,500,000"
11,2017/10/17,333.48,333.48,311.79,317.08,"509,924,000","31,727,700,000"
12,2017/10/16,336.71,349.35,332.04,333.38,"692,885,000","32,029,200,000"
13,2017/10/15,339.53,342.72,320.43,336.60,"635,407,000","32,292,100,000"
14,2017/10/14,338.85,347.98,334.70,339.63,"516,562,000","32,222,400,000"
15,2017/10/13,304.08,348.60,299.66,338.76,"1,304,360,000","28,911,100,000"
16,2017/10/12,303.50,309.15,303.29,304.14,"527,557,000","28,851,200,000"
17,2017/10/11,301.18,304.39,299.10,303.46,"264,146,000","28,626,300,000"
18,2017/10/10,297.60,306.15,293.17,299.87,"359,706,000","28,281,400,000"
19,2017/10/09,308.67,309.31,288.19,297.39,"559,467,000","29,328,300,000"
20,2017/10/08,311.06,312.54,308.03,308.61,"293,167,000","29,550,900,000"
21,2017/10/07,308.89,313.13,304.98,311.12,"342,205,000","29,340,400,000"
22,2017/10/06,295.15,308.84,294.95,308.59,"318,664,000","28,031,100,000"
23,2017/10/05,292.77,298.04,288.84,295.86,"253,747,000","27,800,400,000"
24,2017/10/04,292.75,299.39,290.89,292.66,"257,906,000","27,794,100,000"
25,2017/10/03,297.48,300.11,288.13,292.46,"321,680,000","28,238,500,000"
26,2017/10/02,302.48,302.92,294.58,297.48,"339,443,000","28,708,500,000"
27,2017/10/01,301.55,303.19,295.06,302.34,"306,185,000","28,615,200,000"
28,2017/09/30,291.48,303.96,291.11,301.46,"332,439,000","27,655,200,000"
29,2017/09/29,299.12,299.92,279.77,291.47,"541,375,000","28,375,900,000"
...,...,...,...,...,...,...,...
784,2015/09/05,1.28,1.34,1.27,1.34,"448,453","93,402,300"
785,2015/09/04,1.26,1.30,1.24,1.27,"474,391","92,234,100"
786,2015/09/03,1.30,1.31,1.21,1.26,"702,991","94,418,700"
787,2015/09/02,1.35,1.35,1.26,1.29,"883,769","98,504,600"
788,2015/09/01,1.35,1.39,1.34,1.35,"778,862","98,617,200"
789,2015/08/31,1.32,1.40,1.20,1.36,"1,447,180","96,251,000"
790,2015/08/30,1.18,1.37,1.17,1.32,"1,337,650","86,145,900"
791,2015/08/29,1.19,1.21,1.15,1.18,"375,377","86,887,600"
792,2015/08/28,1.15,1.21,1.12,1.19,"721,872","83,521,700"
793,2015/08/27,1.17,1.19,1.14,1.15,"686,662","85,106,100"
794,2015/08/26,1.13,1.20,1.06,1.16,"1,056,750","82,384,400"
795,2015/08/25,1.23,1.24,1.13,1.14,"1,307,180","89,321,900"
796,2015/08/24,1.35,1.36,1.23,1.23,"924,920","97,791,600"
797,2015/08/23,1.38,1.41,1.30,1.35,"1,589,300","99,894,500"
798,2015/08/22,1.40,1.48,1.35,1.38,"948,310","101,404,000"
799,2015/08/21,1.48,1.56,1.35,1.40,"2,020,970","107,266,000"
800,2015/08/20,1.25,1.53,1.25,1.46,"2,843,760","90,809,000"
801,2015/08/19,1.17,1.32,1.17,1.26,"1,486,240","84,663,900"
802,2015/08/18,1.22,1.33,1.09,1.09,"1,485,680","88,143,200"
803,2015/08/17,1.58,1.58,1.19,1.20,"1,942,830","95,819,700"
804,2015/08/16,1.68,1.70,1.09,1.57,"3,550,790","102,028,000"
805,2015/08/15,1.80,1.88,1.57,1.69,"2,554,360","109,160,000"
806,2015/08/14,1.81,2.26,1.75,1.83,"4,637,030","109,594,000"
807,2015/08/13,1.22,1.97,1.17,1.83,"4,068,680","73,935,400"
808,2015/08/12,1.06,1.29,0.883608,1.22,"2,150,620","64,018,400"
809,2015/08/11,0.708087,1.13,0.663235,1.07,"1,463,100","42,796,500"
810,2015/08/10,0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000"
811,2015/08/09,0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600"
812,2015/08/08,2.79,2.80,0.714725,0.753325,"674,188","167,911,000"
813,2015/08/07,2.83,3.54,2.52,2.77,"164,329",-